<div class="container"></div>
<h1 class="text-center my-5">Features</h1>
<br>
<br>
<br>
<!-- Section about the app -->
<section class="mb-5">
    <div class="row">
        <div class="col-md-6 text-center">
            <h4>Save and Manage Notes</h4>
            <p>Node Notes allows you to easily save and manage your notes online. Whether you're jotting down ideas,
                keeping track of tasks, or storing important information, Node Notes provides a seamless experience to
                keep your notes organized and accessible from anywhere.</p>
        </div>
        <div class="col-md-6 ">
            <img class="img-fluid  notes-pic">
        </div>


        </img>
</section>
<br>
<!-- Section about CRUD functionality -->
<section class="mb-5"></section>
    <div class="row">
        <div class="col-md-6 order-md-2 text-center">
            <h4>CRUD Functionality</h4>
            <p>Node Notes is a CRUD (Create, Read, Update, Delete) application that integrates with MongoDB. This means
                you can easily create new notes, read existing notes, update notes with new information, and delete
                notes when they are no longer needed.</p>
        </div>
        <div class="col-md-6 order-md-1">
            <img class="img-fluid crud-pic">
        </div>
    </div>
</section>
<br>
<br>

<!-- Picture of the app -->
<section class="text-center mb-5">
    <h4>Try Node Notes Today</h4>
    <p>Experience the power of Node Notes for yourself. Sign up now and start organizing your notes in a simple and
        efficient way.</p>
    <a href="/auth/google" target="_blank" class="btn btn-primary mt-4">Get Started</a>

</section>
</div>